{% extends 'common.html' %}

{% load static %}

{% block title %}  TEST {% endblock %}

{% block stylesheet %}



{% endblock %}



{% block body %}

    <center>

        <div class="bg-dark text-white" style="padding:10px; border-radius: 0;">
            {{ C.qno }}. {{ C.question }}<br>
        </div>

    </center>

    <br>

    <form action="" method="POST">
        {% csrf_token %}

        <div  style="margin-left: 50px;">

            <input type="radio" id="" name="option" value="A" required>
            <label for="">{{ C.A }}</label>
            <br><br>
            
            <input type="radio" id="" name="option" value="B">
            <label for="css">{{ C.B }}</label>
            <br><br>
            
            <input type="radio" id="" name="option" value="C">
            <label for="css">{{ C.C }}</label>
            <br><br>
            
            <input type="radio" id="" name="option" value="D">
            <label for="css">{{ C.D }}</label>
            <br><br><br>
            
            <input type = "hidden" name = "test_started">
            
            <button type="submit" class="btn btn-dark rounded-pill">Submit and Next</button>
            <button type="submit" class="btn btn-dark rounded-pill">Mark for Review</button>

        </div>

    </form>

    <div>Difficulty : {{ C.difficulty }}</div>
    <br>
    <div>Score : {{ C.Score }}</div>

{% endblock %}